.big-sec{
  padding: 1% 5%;
}
.bg-dark-trans{
  background-color: #36454f;
}
body{
  scroll-behavior: smooth;
}
/* .header{
  padding-left: 5%;
  padding-right: 7.5%;
  width: 100%;
  height: auto;
  position: fixed;
  margin-bottom: 12px;
  z-index: 1;
} */
#particles-js{
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 150%;
}
#About{
  padding-top: 8%;
  text-align: left;
}

.navbar{
  min-height: 80px;
  padding: 0 5%;
}
/* about section */
.Explanation{
  margin:auto 0;
}
.bg-blue{
  background-color: #4e7896;
}
.container-fluid{
  padding-left: 0;
  padding-right: 0;
}
.example {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.example img {
  height: inherit;
  width: inherit;
}
/*  Meet The Team Section*/
#MeetTheTeam{
  text-align: center;

}
.IndividualPic{
  width:inherit;
  height: inherit;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 5%;
}
#MeetTheTeam img{
  height: inherit;
  width: inherit;
  border-radius: 100%;
}

.overlay {
  position: relative;
  bottom:0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}
.ProfilePic{
  height: inherit;
  width: inherit;
}
.ProfilePic:hover .overlay {
  opacity: 1;
}


/* Contact Section  */

#Contact{
  text-align: center;
  padding-bottom: 60px;
}
.sec{
  text-align: center;
  height: 200px;
  border-radius: 10px;
}

.sec-header{
  background-color: #fefefe;
  border-radius: 10px;
}

h1 {
  text-decoration: underline;


}

#footer{
  text-align: center;
  height: 45px;
  padding-top: 13px;
  background-color: #36454f;
}
#rights{
  color: white;
  text-align: center;

  font-size: 75%;



}

